:root{
	--font-1: 'Open Sans', sans-serif;
	--font-2: 'Raleway', sans-serif;
	--dark-brown: #b27878;
	--darker-brown: #8c5d5d;
	--beige: #FAF0E6;
	--font-color: #ff8484;

}
main{
	max-width: 1200px;
	font-family: var(--font-1);
}
main p{
	font-family: var(--font-2);
}
article h1{
	color: var(--font-color) !important;
}
div.content{
	margin: 0 40px;
	padding: 20px 0;
}

header{
	background: url('images/autumn-beautiful-branch-772520.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    font-family: var(--font-1);

}
header div{
	position: relative;
	margin: 0 40px;
	color: white;
}
header h1{
	font-size: 5.5rem;
	color: white;
}
nav{
	left:10%;
	padding: 0 !important;
}
.navbar-light .navbar-toggler {
    margin-right: 15%;
}
article.about, article.finances{
	background-color: var(--beige);
}
article.about div.col-md-4 img{
	width: 100%;
}
article.specialties div.col-md-4 img{
	width: 100%;
}
article.specialties h3, article.specialties h1{
	text-align: center;
}
article.contact{
	background: url("images/cobblestone-earth-surface-granite-1029604.jpg");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
}
div.col-md-8 h3{
	margin-bottom: 0;
    padding: 3px 0;
    background-color: #b27878;
    color: white;
    text-align: center;
}
div.col-md-4 h3{
	margin-bottom: 18px;
}
.callout{
	background-color: white;
    border: 3px solid #b27878;
    padding: 15px;
}

article.contact p, article.contact i{
	font-size: 26px;
}
.accordion{
	background-color: var(--dark-brown);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
}
.accordion:hover{
	background-color: var(--darker-brown);
}
.accordion:after {
    content: '\02795';
    font-size: 18px;
    float: right;
}
.active:after {
    content: '\2796';
}
.active{
	background-color: var(--dark-brown);
    color: white;
}
.panel{
   	padding: 15px;
	text-align: center;
	border: solid 3px var(--dark-brown);
	background-color: white;
	display: none;
	overflow: hidden;
	margin-top: -4px;
}
.panel ul{
	list-style: none;
	font-size: 18px;
}
