:root{
	--font-1: 'Open Sans', sans-serif;
	--font-2: 'Raleway', sans-serif;
	--font-color: #ff8484;
}
main{
	max-width: 1200px;
}
article h1{
	color: var(--font-color) !important;
}
div.row, article h1{
	margin-left: 10%;
	margin-right: 10%;
}
div.col-md-8, div.col-md-6, div.col-md-4{
	padding:0;
}
article{
	padding: 20px 0;
}
header{
	background: url('images/autumn-beautiful-branch-772520.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
header div{
	position: relative;
	left: 10%;
	color: white;
	top: 20%;
}
header h1{
	font-size: 5.5rem;
	color: white;
}
nav{
	left:10%;
	padding: 0 !important;
}
.navbar-light .navbar-toggler {
    margin-right: 15%;
}
article.about, article.specialities, article.contact{
	background-color: #FAF0E6;
}
div.col-md-8 h3{
	margin-bottom: 0;
    padding: 3px 0;
    background-color: #b27878;
    color: white;
    text-align: center;
}
div.col-md-4 h3{
	margin-bottom: 18px;
}
.callout{
	background-color: white;
    border: 3px solid #b27878;
    padding: 15px;
}
div.col-md-4 img{
	height: auto;
	width: 265px;
}

article.contact p, article.contact i{
	font-size: 26px;
}
